<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Booklist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	    
 <p>Kirjat</p>
   <table class="table table-striped">
   <tr>
   <th>Author</th>
   <th>Title</th>
   <th>ISBN</th>
   <th>Year</th>
   </tr>
   <tr th:each="kirja:${kirjat}">
   <td th:text="${kirja.getAuthor()}"></td>
   <td th:text="${kirja.getTitle()}"></td>
   <td th:text="${kirja.getIsbn()}"></td>
   <td th:text="${kirja.getYear()}"></td>
       <td sec:authorize="hasRole('ADMIN')">
   <a th:href="@{kirja/{id}(id=${kirja.getId()})}" class="btn btn-danger" >DELETE</a>
   </td>
   </tr>
   </table>
<a href="/kirja">lisaa</a>
 <a href="/index">pääsivu</a>
 
</body>
</html>